.diseaseIdentify-container {
  display: flex;
  height: 100%;

  .diseaseIdentify-container-left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 35%;

    .l2 {
      .l2-item-group {
        height: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;

        .l2-items {
          width: 20%;
          margin-bottom: 20px;
        }
      }
    }

    .l3 {
      margin-bottom: 20px;
    }
  }

  .diseaseIdentify-container-right {
    width: 64%;
    margin-left: 1%;

    .result-panel {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;

      .r1-card {
        margin-bottom: 20px;

        .r1-card-header {
          padding: 10px; /* 控制标题栏内边距 */
        }

        .r1-card-image {
          height: 220px; /* 控制图片的高度 */
          width: 320px;

          .image-slot {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 220px;
            width: inherit;
            background: var(--el-fill-color-light);
            color: var(--el-text-color-secondary);
            font-size: 30px;
          }

          .image-slot el-icon {
            color: red; /* 设置加载失败图标的颜色 */
          }
        }
      }
    }
  }
}
