@import "@/styles/chartStyle";

.disease-identification {
  display: flex;
  height: 100%;
  gap: 10px;

  .left-panel {
    display: flex;
    flex-direction: column;
    width: 300px; /* 左侧容器宽度 */

    .l_panel-model {

    }

    .l_panel-spectrum {
      .spectrum-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;

        .spectrum-items {
          width: 37%;
          margin-bottom: 5px;
        }
      }

    }

    .l_panel-upload {

    }
  }

  .right-panel {
    display: flex;
    flex-direction: row;
    width: calc(100% - 300px);

    .r_panel {

      width: 100%;

      .r_panel-result {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;

        .result-card {
          margin-bottom: 20px;
          flex-basis: 49%;

          .card-content, .card-slot {
            width: 100%;
            height: 100%;
            align-items: center;
          }
        }
      }

      .r_panel-diagnosis {
        width: 100%;
        height: 65vh;

        .diagnosis-chart {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }
      }
    }
  }
}


