@import "src/styles/element";

:root {
  --title-font-size: 14px;
  --value-font-size: 18px;
}

.real-data-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;

  .top-box {
    height: 100%;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .top-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;

      .top-title {
        font-size: 24px;
        font-weight: bold;
      }

      .top-time {
        font-weight: bold;
        color: var(--el-text-color-regular);
      }
    }
  }

  .siteBoard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 2fr 2fr;
    grid-gap: 10px;
    height: 80vh;

    .temperature,
    .humidity,
    .weather,
    .conductivity,
    .rain-fall {
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }

    .temperature {
      grid-column: 1/5;
      grid-row: 1/3;
    }

    .humidity {
      grid-column: 5/9;
      grid-row: 1/3;
    }

    .weather {
      grid-column: 1/4;
      grid-row: 3/4;
    }

    .conductivity {
      grid-column: 4/7;
      grid-row: 3/4;
    }

    .rain-fall {
      grid-column: 7/9;
      grid-row: 3/4;
    }
  }

  .dashboard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .warn-notification {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    .warn-item {
      width: 33%;
      height: 100%;
      margin-right: 5px;
      font-family: "黑体", serif;
      font-size: 20px;

      .warn-img {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 100%;
        }
      }
      .card-header {
        display: flex;
        font-size: 20px;
        font-weight: bold;
        color: var(--el-color-primary);
        margin-bottom: 10px;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;

        span {
          margin-right: 5px;
        }
      }
    }
  }
}

.title {
  font-size: var(--title-font-size);
  font-weight: bold;
  color: var(--el-text-color-regular);
  margin-bottom: 10px;
}

.value {
  font-size: var(--value-font-size);
  color: #1890ff;
  font-weight: bold;
}
